<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{html/head :: header}"></head>
<body>
	<nav th:replace="~{html/head :: headnav}"></nav>
	<div class="container" id="content">
		<div class="row">
			<!-- Main Content -->
			<div class="col-md-8">
				<!-- Article Section -->
				<div class="card mt-4">
					<div class="card-body">
						<!-- Article Title -->
						<h2 class="card-title">
							<span>
								<a href="/u/ranji" title="ranji"><img src=""  th:src="@{/assets/image/ranji.jpg}"  style="border-radius: 50%; height: 50px;width: 50px;" alt="ranji" ></a>
			               	</span>
							<a class="card-link" href="/u/ranji/blog/1">HOW THE STEEL WAS TEMPERED</a>
						</h2>
						<!-- Article Author Info -->
						<div class="card-text">
							<a href="/u/waylau" class="card-link">RanJi</a> Created  2019-05-01
							<span class="oi oi-eye text-primary" title="eye" aria-hidden="true" >5</span>
						    <span class="oi oi-heart text-danger" title="heart" aria-hidden="true" >10</span>
						    <span class="oi oi-comment-square text-success" title="comment" aria-hidden="true" >30</span>
						</div>
						<hr>
						<!-- Article Content Section -->
						<article class="card-text">
								Like a whirlwind the stupendous news broke into the small town: "The tsar's been overthrown!"
								The townsfolk refused to believe it.
								Then one stormy winter day a train crawled into the station: two students in army greatcoats, with rifles slung over their shoulders, and a detachment of revolutionary soldiers wearing red armbands jumped out onto the platform and arrested the station gendarmes, an old colonel and the chief of  the garrison. Now the townsfolk believed the news. Thousands streamed down the snowbound streets to the town square.
								Eagerly they drank in the new words: liberty, equality and fraternity.
								Turbulent days followed, days full of excitement and jubilation. Then a lull set in, and the red flag flying over the town hall where the Mensheviks and adherents of the Bund had ensconced themselves was the sole reminder of the change that had taken place. Everything else remained as before.
								Towards the end of the winter a regiment of the cavalry guards was billeted in the town. In the mornings they sallied out in squadrons to hunt for deserters from the South-Western Front at the railway station.
								The troopers were great, beefy fellows with well-fed faces. Most of their officers were counts and princes; they wore golden shoulder straps and silver piping on their breeches, just as they had in the tsar's time—for all the world as if there had been no revolution.
								For Pavel, Klimka and Sergei Bruzzhak nothing had changed. The bosses were still there. It was not until November that something out of the ordinary began to happen. People of a new kind had appeared at the station and were beginning to stir things up; a steadily increasing number of them were soldiers from the firing lines and they bore the strange name of "Bolsheviks".
								Where that resounding, weighty name came from no one knew.
								The guardsmen found it increasingly hard to detain the deserters. The crackle of rifles and the splintering of glass was heard more and more often down at the station. The men came from the front in groups and when stopped they fought back with bayonets. In the beginning of December they began pouring in by trainloads. 
								The guardsmen came down in force to the station with the intention of holding the soldiers, but they found themselves raked by machine-gun fire. The men who poured out of the railway carriages were inured to death. 
								The grey-coated frontliners drove the guards back into the town and then returned to the station to continue on their way, trainload after trainload.
								One day in the spring of nineteen eighteen, three chums on their way from Sergei Bruzzhak's where they had been playing cards dropped into the Korchagins' garden and threw themselves on the grass. They were bored. All the customary occupations had begun to pall, and they were beginning to rack their brains for some more exciting way to spend the day when they heard the clatter of horses' hoofs behind them and saw a horseman come galloping down the road. With one bound the horse cleared the ditch between the road and the low garden fence and the rider waved his whip at Pavel and Klim. "Hi there, my lads, come over here!" Pavel and Klim sprang to their feet and ran to the fence. The rider was covered with dust; it had settled in a heavy grey Layer on the cap which he wore pushed to the back of his head, and on his khaki tunic and breeches. A revolver and two German grenades dangled from his heavy soldier's belt. 
								"Can you get me a drink of water, boys?" the horseman asked them. While Pavel dashed off into the house for the water, he turned to Sergei who was staring at him. "Tell me, boy, who's in authority in your town?" 
								Sergei breathlessly related all the local news to the newcomer. 
								"There's been nobody in authority for two weeks. The homeguard's the government now. All the inhabitants take turns patrolling the town at night. And who might you be?" Sergei asked in his turn. 
								"Now, now—if you know too much you'll get old too soon," the horseman smiled. 
								Pavel ran out of the house carrying a mug of water. The rider thirstily emptied the mug at one gulp and handed it back to Pavel. Then jerking the reins he started off at a gallop, heading for the pine woods. "Who was that?" Pavel asked Klim. "How do I know?" the latter replied, shrugging his shoulders. 
								"Looks like the authorities are going to be changed again. That's why the Leszczinskis left yesterday. And if the rich are on the run that means the partisans are coming," declared Sergei, settling the political question firmly and with an air of finality. 
								The logic of this was so convincing that both Pavel and Klim agreed with him at once. 
								Before the boys had finished discussing the question a clatter of hoofs from the highway sent all three rushing back to the fence. 
								Over by the forest warden's cottage, which was barely visible among the trees, they saw men and carts emerging from the woods, and nearer still on the highway a party of fifteen or so mounted men with rifles across their pommels. At the head of the horsemen rode an elderly man in khaki jacket and officer's belt with field glasses slung on his chest, and beside him the man the boys had just spoken to. The elderly man wore a red ribbon on his breast. 
								"What did I tell you?" Sergei nudged Pavel in the ribs. "See the red ribbon? Partisans. I'll be damned if they aren't partisans. . . ." And whooping with joy he leapt over the fence into the street. 
								The others followed suit and all three stood by the roadside gazing at the approaching horsemen. 
								When the riders were quite close the man whom the boys had met before nodded to them, and pointing to the Leszczinski house with his whip asked: 
						</article>
						<hr>
						<!-- Article Category And Tags Section -->
						<div class="card-text">
							<p>分类： <a class="card-link" href="/u/ranji/blogs/category/1">Spring Data</a></p>
							<p>标签：
		                        <a href="/u/ranji/blogs/tag/Spring MVC"> <span class="badge badge-info">Spring MVC</span></a>
		                        <a href="/u/ranji/blogs/tag/Spring"> <span class="badge badge-info">Spring</span></a>
		                        <a href="/u/ranji/blogs/tag/JavaEE"> <span class="badge badge-info">JavaEE</span></a>
		                        <a href="/u/ranji/blogs/tag/JBoss"> <span class="badge badge-info">JBoss</span></a>
		                        <a href="/u/ranji/blogs/tag/CoreJava"> <span class="badge badge-info">CoreJava</span></a>
		                        <a href="/u/ranji/blogs/tag/WebSite"> <span class="badge badge-info">WebSite</span></a>
		                    </p>
						</div>
						<!-- Article enter Comment Section -->
						<div class="card-text">
							<p class="card-title">评论：</p>
							<div class="form-group">
								<textarea class="form-control" id="commentForm" rows="3"></textarea>
							</div>
			                <button class="btn btn-info float-right">发表评论</button>
						</div>
					</div>
					<!-- Article Comment Section-->
					<div class="card-body">
						<div class="row">
							<h2 class="card-title col-lg-1 col-md-2">
								<span>
									<a href="/u/ranji" title="ranji"><img src=""  th:src="@{/assets/image/ranji.jpg}"  style="border-radius: 50%; height: 50px;width: 50px;" alt="ranji" ></a>
				               	</span>
							</h2>
							<div class="card-text col-lg-11 col-md-10">
	                            <a href="/u/waylau" class="card-link">RanJi</a> 1楼 2019-05-01 08:30
	                            <p>Thank you very much.</p>
	                        </div>
						</div>
					</div><!-- article comment section end -->
					<!-- Article Comment Section-->
					<div class="card-body">
						<div class="row">
							<h2 class="card-title col-lg-1 col-md-2">
								<span>
									<a href="/u/ranji" title="ranji"><img src=""  th:src="@{/assets/image/ranji.jpg}"  style="border-radius: 50%; height: 50px;width: 50px;" alt="ranji" ></a>
				               	</span>
							</h2>
							<div class="card-text col-lg-11 col-md-10">
	                            <a href="/u/waylau" class="card-link">RedGirl</a> 2楼 2019-05-01 09:00
	                            <p>Very Good Resources.</p>
	                        </div>
						</div>
					</div><!-- article comment section end -->
				</div>
			</div>
			<!-- Aside  Section-->
			<aside class="col-md-4">
				<!-- Category Info -->
				<div class="card mt-4">
					<div class="card-header">
						<span class="oi oi-menu" title="menu" aria-hidden="true"></span>
						Article Category
					</div>
					<div class="card-body">
							<p class="card-text m-sm-0"><a class="card-link" href="#">Please Remember My Statement, Because you are error.</a></p>
							<p class="card-text m-sm-0"><a class="card-link" href="#">What's Spring5 For your startup? Follow me.</a></p>
							<p class="card-text m-sm-0"><a class="card-link" href="#">Do you like the Java language? Please Study it.</a></p>
							<p class="card-text m-sm-0"><a class="card-link" href="#">I works at someone company,But boss is busy.</a></p>
							<p class="card-text m-sm-0"><a class="card-link" href="#">Happy Study Bootstrap And JQuery</a></p>
					</div>
				</div>
			</aside>
		</div>
		<!-- row end -->
	</div>
	<!-- container end -->
	<div th:replace="~{html/foot :: footer}"></div>
</body>
</html>