<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{html/head :: header}"></head>
	<link rel="stylesheet"  th:href="@{/assets/plugin/editormd/css/editormd.min.css}" />
	<link rel="stylesheet"  href="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" />
	<link rel="stylesheet"  href="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"  th:href="@{/assets/plugin/tagsinput/bootstrap-tagsinput.css}">
	<body>
		<nav th:replace="~{html/head :: headnav}"></nav>
		<div class="container">
			<div class="row">
				<!-- Main Content -->
				<div class="col-md-8">
					<div class="card mt-4">
						<div class="card-header bg-light">
							<span class="oi oi-pencil" title="menu" aria-hidden="true"></span>
							Create Article
						</div>
						<div class="card-body">
						
							<div class="card-text">
								<form>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text text-primary bg-light">Title</span>
										</div>
										<input type="text"  class="form-control" placeholder="Please enter article title">
									</div>
									<div id="contentEditor">
										<textarea name="content"></textarea>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div><!-- Main Content end -->
				<!-- Asside Section -->
				<aside class="col-md-4">
					<!-- Category Info -->
					<div class="card mt-4">
						<div class="card-header bg-light">
							<span class="oi oi-cog" title="menu" aria-hidden="true"></span>
							Settings
						</div>
						<div class="card-body">
							<div class="row mt-1">
	                            <div  class="col-lg-12">
	                                Tags：
	                                <input type="text"    id="tagsinput"  placeholder="add a tag">
	                            </div>
	                        </div>	
	                        <div class="row mt-1">
	                            <div  class="col-lg-12">
	                                Classify：
									<select id="single" class="form-control" >
									  <option>Java</option>
									  <option>分布式</option>
									  <option>数据库</option>
									</select>
	                            </div>
	                        </div>	
	                        <div class="row mt-1">
                            <div  class="col-lg-12">
								<button class="btn btn-primary float-right">发布</button>
                            </div>
                        </div>
						</div>
					</div>
				</aside><!-- Aside Section end -->
			</div>
		</div>
		<div th:replace="~{html/foot :: footer}"></div>
		<script type="text/javascript" th:src="@{/assets/plugin/editormd/editormd.min.js}"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" th:src="@{/assets/plugin/tagsinput/bootstrap-tagsinput.min.js}"></script>
		<script type="text/javascript">
			$(function(){
				//-- Init Aritcle Content TextArea By MardDown Editor Named Editor.md
				contentEditor = editormd("contentEditor",{
					width : "100%",
					height: 640,
					//placeholder:'aaaa',
					syncScrolling : "single",
					path :  "../assets/plugin/editormd/lib/",
					watch : false,		//关闭实时预览
					toolbarIcons :  function(){
						return editormd.toolbarModes['mini'];
					},
					onfullscreen : function() {
					   $('aside').addClass('d-none');		//-- 当全屏的时候，隐藏掉右边栏，否则MD的编辑器会被右边栏遮住
					},
					onfullscreenExit :  function() {
					  $('aside').removeClass('d-none');
					}
				});
				 $("#tagsinput").tagsinput({
					 maxTags: 3,
					 width: 80,
					 tagClass : 'badge badge-info',
					 trimValue: true
				 });
			});
		</script>
	</body>
</html>