<!DOCTYPE html>
<html lang="zh-cn"  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href=""  th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" href=""  th:href="@{/assets/css/open-iconic-bootstrap.min.css}">
		<title>Lemon Cloud</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md bg-warning navbar-dark" th:fragment="headnav">
				<div class="container">
					<!-- 1. Site Logo -->
					<a class="navbar-brand" href="#" th:href="@{/}">Lemon Cloud</a>
					<!-- 2. Collapse Nav Button  -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 3. Header Nav Collapseable -->
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<!-- Header Left Links 默认居左显示(mr-auto)-->
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link active" href="#">News</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Hots</a></li>
							<li class="nav-item" ><a class="nav-link" href="#">Other</a></li>
							<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
							<li class="nav-item">
								<!-- Search Form -->
								<form class="form-inline">
								  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								  <button class="btn btn-info text-light" type="submit"><span class="oi oi-magnifying-glass" title="search" aria-hidden="true" ></span></button>
								</form>
							</li>
						</ul>
						<!-- Header Right Links   ml-auto居右显示-->
						<ul class="navbar-nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="#">Login</a></li>
							<li class="nav-item"><a class="nav-link"  href="#">Register</a></li>
						</ul>
					</div>
				</div>
		</nav>
	</body>
</html>