<!DOCTYPE html>
<html lang="zh-cn"  xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{html/head :: header}"></head>
	<body>
		<!-- Import Header Section -->
		<nav th:replace="~{html/head :: headnav}"></nav>
		<div class="container">
			<div class="row">
				<!-- Left Category Section-->
				<div class="col-md-4 col-xl-3">
					<!-- Personal Info -->
					<div class="card mt-4">
					  <img class="card-img-top" src="/uek/assets/image/ranji.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					  </div>
					</div>
					<!-- Category Info -->
					<div class="card border-light mt-4">
						<div class="card-header">Category</div>
						<ul class="list-group">
							<li class="list-group-item"><a href="#" title="ranji">Spring MVC</a><span class="badge badge-default badge-pill text-success">1995</span></li>
							<li class="list-group-item"><a href="#" title="ranji">Distributed System</a><span class="badge badge-default badge-pill text-success">356</span></li>
							<li class="list-group-item"><a href="#" title="ranji">Spring Boot2.0</a><span class="badge badge-default badge-pill text-success">298</span></li>
							<li class="list-group-item"><a href="#" title="ranji">Spring5.0</a><span class="badge badge-default badge-pill text-success">188</span></li>
							<li class="list-group-item"><a href="#" title="ranji">Spring Cloud</a><span class="badge badge-default badge-pill text-success">386</span></li>
							<li class="list-group-item"><a href="#" title="ranji">Servlet3.0</a><span class="badge badge-default badge-pill text-success">478</span></li>
							<li class="list-group-item"><a href="#" title="ranji">JavaEE</a><span class="badge badge-default badge-pill text-success">2095</span></li>
						</ul>
					</div>
				</div>
				
				<!-- Right Category Section-->
				<div class="col-md-8 col-xl-9">
					
				</div>
			</div><!-- row end -->
		</div><!-- container end -->
		<!-- Import Footer Section -->
		<div th:replace="~{html/foot :: footer}"></div>
	</body>
</html>